.project{
    @include flex(column,space-between);
    width: 415px;
    height: 270px;
    gap:7px;
    .img{
        border-radius: 10px;
    }
    a{
        color: var(--purpel, #7C1DC9);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 44px; /* 314.286% */
        text-transform: capitalize;
    }
    h2{
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px; /* 208.333% */
        text-transform: capitalize;
    }
    p{
        color: #575757;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px; /* 225% */
        text-transform: capitalize;
    }

}