@font-face {
  font-family: "mont-500";
  src: url("../assest/Font/Mont/Mont-BlackItalic.otf");
}
@font-face {
  font-family: "mont-700";
  src: url("../assest/Font/Mont/Mont-Bold.otf");
}
@font-face {
  font-family: "mont-800";
  src: url("../assest/Font/Mont/Mont-BoldItalic.otf");
}
@font-face {
  font-family: "mont-book";
  src: url("../assest/Font/Mont/Mont-Book.otf");
}

@font-face {
  font-family: "mont-boog";
  src: url("../assest/Font/Mont/Mont-Black.otf")
}


